In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('horse_data.csv', header=None, na_values='?')
df = df[[1, 3, 8, 12, 17, 19, 20, 22]]
df.columns = ['Age',
              'rectal temperature °C',
              'mucous membranes', 
              'abdominal distension',
              'abdomen',
              'total protein',
              'abdominocentesis appearance',
              'outcome']

Age: Возраст

      1 = взрослая лошадь
      2 = Молодой (<6 месяцев)

rectal temperature °C : ректальная температура

      - линейный
      - в градусах Цельсия.
      - Повышенная температура может возникнуть из-за инфекции.
      - возможно снижение температуры при позднем шоке
      - нормальная температура 37,8
      - этот параметр обычно меняется по мере развития проблемы.
           например. может начаться нормально, а затем повыситься из-за
               поражение, возвращаясь в нормальный диапазон, как
               лошадь в шоке

mucous membranes : слизистые оболочки

      - субъективное измерение цвета
      - возможные значения:
           1 = нормальный розовый
           2 = ярко-розовый
           3 = бледно-розовый
           4 = бледно-синюшный
           5 = ярко-красный / инжектированный
           6 = темно-синюшный
      - 1 и 2, вероятно, указывают на нормальное или слегка повышенное
        обращение
      - 3 могут возникнуть при раннем шоке
      - 4 и 6 указывают на серьезное нарушение кровообращения
      - 5 больше указывает на сепсис

abdominal distension : вздутие живота

      - ВАЖНЫЙ параметр.
      - возможные значения
           1 = нет
           2 = легкий
           3 = умеренный
           4 = тяжелый
      - животное с вздутием живота может причинить боль и
        имеют сниженную перистальтику кишечника.
      - лошади с сильным вздутием живота, вероятно, потребуется
        Хирургия просто сними давление

abdomen : живот

      - возможные значения
           1 = нормальный
           2 = другое
           3 = твердый кал в толстой кишке
           4 = растянутый тонкий кишечник
           5 = растянутый толстый кишечник
      - 3, вероятно, препятствие, вызванное механическим воздействием
        и обычно лечится с медицинской точки зрения
      - 4 и 5 указывают на хирургическое поражение 

total protein : общий белок

      - линейный
      - нормальные значения лежат в диапазоне 6-7,5 (г / дл)
      - чем выше значение, тем сильнее обезвоживание 

abdominocentesis appearance : внешний вид брюшной полости

      - в брюшную полость лошади вводят иглу и получают жидкость из
        брюшная полость
      - возможные значения:
           1 = ясно
           2 = облачно
           3 = серозно-кровавый
      - нормальная жидкость прозрачная, в то время как мутная или серозно-кровавая указывает на
        скомпрометированный кишечник 

outcome : результат

      - что в итоге случилось с лошадью?
      - возможные значения:
           1 = жил
           2 = умер
           3 = был усыплен

In [3]:
df.describe().round(2)

,Age,rectal temperature °C,mucous membranes,abdominal distension,abdomen,total protein,abdominocentesis appearance,outcome
count,300.00,240.00,253.00,244.00,182.00,267.00,135.00,299.00
mean,1.64,38.17,2.85,2.27,3.69,24.46,2.04,1.55
std,2.17,0.73,1.62,1.07,1.49,27.48,0.80,0.74
min,1.00,35.40,1.00,1.00,1.00,3.30,1.00,1.00
25%,1.00,37.80,1.00,1.00,2.00,6.50,1.00,1.00
50%,1.00,38.20,3.00,2.00,4.00,7.50,2.00,1.00
75%,1.00,38.50,4.00,3.00,5.00,57.00,3.00,2.00
max,9.00,40.80,6.00,4.00,5.00,89.00,3.00,3.00

# Ректальная температура 
 Жеребята всегда немного горячее, чем взрослые особи.

In [4]:
Temperature = df.groupby('Age').agg({'rectal temperature °C':['mean', 'std', 'median', 'max', 'min']})
Temperature

    rectal temperature °C
                     mean       std median   max   min
Age
1               38.124545  0.735988   38.1  40.8  35.4
9               38.645000  0.490408   38.6  39.7  38.0

Средняя температура лошади 37,8 °C. Видим небольшое отклонение температуры в большую сторону. У наблюдаемых взрослых лошадей средняя температура поднималась не значительно, до 38,1 °C Полученные данные подтврждают, что в ходе замера ректальной температуры у лошайдей температура была сначала поднималась, а потом возвращалась к нормальному значению. При повышении температуры на раннем этапе можно предположить, что у лоди есть поражение, и обратное, когда температура возвращается к нормальным показателям, лошадь испытывает шок.

# Слизистая оболочка

In [5]:
Age_1 = df.query('Age == 1')
mucous_membranes = Age_1.groupby('mucous membranes').agg({'rectal temperature °C':['mean', 'std', 'median', 'max', 'min']})
mucous_membranes[['rectal temperature °C']]

                 rectal temperature °C
                                  mean       std median   max   min
mucous membranes
1.0                          38.210000  0.690967  38.20  40.8  36.5
2.0                          38.085714  0.652139  38.10  39.4  36.6
3.0                          37.919048  0.633703  38.00  39.2  36.1
4.0                          37.912500  0.882345  38.00  39.5  35.4
5.0                          38.425000  0.906628  38.45  40.0  36.0
6.0                          38.340000  0.885438  38.30  39.6  37.1

Мало зависит от температуры, трудно скать какой будет слизистая в зависимости от температуры.

In [6]:

mucous_membranes_count = Age_1.groupby(['mucous membranes', 'outcome']).count()
mucous_membranes_count

                          Age  rectal temperature °C  abdominal distension  \
mucous membranes outcome
1.0              1.0       65                     62                    59
                 2.0        5                      4                     5
                 3.0        5                      4                     5
2.0              1.0       17                     15                    16
                 2.0        5                      4                     4
                 3.0        2                      2                     1
3.0              1.0       35                     28                    32
                 2.0       14                      9                    14
                 3.0        7                      4                     6
4.0              1.0       15                      8                    15
                 2.0       14                      8                    11
                 3.0       11                      8                     8
5.0              1.0        6                      6                     6
                 2.0       11                      8                    10
                 3.0        6                      6                     6
6.0              1.0        6                      6                     5
                 2.0        8                      5                     7
                 3.0        4                      4                     4

                          abdomen  total protein  abdominocentesis appearance
mucous membranes outcome
1.0              1.0           42             62                           25
                 2.0            3              5                            2
                 3.0            1              5                            3
2.0              1.0           12             17                            8
                 2.0            3              5                            3
                 3.0            1              1                            1
3.0              1.0           26             34                           12
                 2.0           13             11                            9
                 3.0            5              7                            2
4.0              1.0           11             14                            8
                 2.0            9             13                            5
                 3.0           10              9                            7
5.0              1.0            6              6                            5
                 2.0            7             11                            7
                 3.0            5              4                            3
6.0              1.0            4              5                            3
                 2.0            3              6                            3
                 3.0            4              4                            3

В большинстве случаев слизистая была нормально розовой, лошади не умирали, их температура была в среднем 38,1 °C. При показателях 4, 5, 6, выживаемость лошадей низкая.

# Вздутие живота

In [7]:
abdominal_distension = Age_1.groupby('abdominal distension').count()
abdominal_distension

,Age,rectal temperature °C,mucous membranes,abdomen,total protein,abdominocentesis appearance,outcome
abdominal distension,,,,,,,
1.0,73,67,70,48,72,34,72
2.0,62,53,58,46,58,35,62
3.0,60,48,57,44,57,32,60
4.0,34,19,30,26,25,10,34

В 41% случаев боль в животе была умеренной и тяжелой, в 27% была легкой, а в 32% боли небыло.

# Другие параметры

In [8]:
print(df['abdomen'].mode()[0])
print(df['total protein'].median())
print(df['abdominocentesis appearance'].mode()[0])

5.0
7.5
2.0

Живот(abdomen ) Растянутый толстый кишечник, указывают на хирургическое поражение

Белок (total protein) Значения лежат в пределах нормы, но показатель лежит в верхнем пределе. Лошадь испытывает обезвоживание

Внешний вид брюшной полости (abdominocentesis appearance) Облачно

# Что случилось с лошадью

Среднее значение равное 1.4, говорит, что 57% лошадей выживало, а 43% умирало.

In [9]:
# В столбце "outcome" заменим число 3 на число 2. Приведем к общему случаю, если лошаль усыпили значит она умерла.

outcome_Series = df.outcome.replace(3,2)
outcome_Series.mean()

1.4046822742474916

Вывод:

Признаки указывающие на колики у лошадей: 

Возникает повышение температуры;

Слизистая бледно-синюшный, темно-синюшный указывают на серьезное нарушение кровообращения и ведет
к гибели животного; 

При слизистой бледно-синюшной и темно-синюшной внешний вид брюшной полости мутный или серозно-кровавый, указывает на
скомпрометированный кишечник;

В 41% случаев возникает не сильная боль в животе, животному может потребоваться хирургическое вмешательство,
для снятия боли;

Животное испытывает сильное обезвоживание;

Довольно высокая смертность при этом заболевании.

# Задание 2.
Работа с выбросами В выбранных числовых столбцах найти выбросы, выдвинуть гипотезы об их причинах и проинтерпретировать результаты. Принять и обосновать решение о дальнейшей работе с ними.

Рассмотрим показатель Pulse. при расчете около 10% удалилось, что показало отклонение среднее арифметическое изменилось на 1,65, это примерно на 2,5% от изначальных показателей. Думаю, что это отклонение при удалении выбросов допустимое при max = 184.0 и min = 30.0

In [10]:
q1 = df['rectal temperature °C'].quantile(0.25)
q3 = df['rectal temperature °C'].quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr) 
upper_bound = q3 + (1.5 * iqr)
remove_outliers = df[df['rectal temperature °C'].between(lower_bound, upper_bound, inclusive=True)].sort_values('rectal temperature °C')
remove_outliers

,Age,rectal temperature °C,mucous membranes,abdominal distension,abdomen,total protein,abdominocentesis appearance,outcome
113,1,36.8,NaN,NaN,NaN,NaN,NaN,2.0
277,1,36.9,3.0,2.0,NaN,6.5,NaN,1.0
70,1,37.0,NaN,3.0,4.0,7.6,NaN,3.0
292,1,37.0,2.0,3.0,5.0,6.9,2.0,2.0
190,1,37.1,4.0,1.0,3.0,6.7,3.0,1.0
...,...,...,...,...,...,...,...,...
165,1,39.4,5.0,3.0,NaN,64.0,1.0,3.0
231,1,39.5,6.0,1.0,NaN,6.4,NaN,2.0
287,9,39.5,NaN,NaN,NaN,5.0,NaN,1.0
117,1,39.5,4.0,3.0,5.0,6.7,1.0,3.0
162,1,39.5,NaN,2.0,NaN,56.0,1.0,1.0

In [11]:

print(remove_outliers['rectal temperature °C'].mean())
print(remove_outliers['rectal temperature °C'].median())

38.169026548672555
38.2

In [12]:
print(df['rectal temperature °C'].mean() - remove_outliers['rectal temperature °C'].mean())

-0.0011098820058634828

In [13]:
print(df['rectal temperature °C'].median() - remove_outliers['rectal temperature °C'].median())

0.0

По темперратуре выбросы мало искажают данные, наличе выбросов может говорить о других заболеваниях не связанные с коликами

# Задание 3.
Работа с пропусками Рассчитать количество пропусков для всех выбранных столбцов. Принять и обосновать решение о методе работы с пропусками по каждому столбцу, сформировать датафрейм, в котором пропуски будут отсутствовать.

Выбраны были данные по pulse, но это не очень хороший пример все-таки, так как mode = 48.0, а mean = 64.0 и median = 71.9. при этом средний возрат mean = 2.6, а mean = 1.0 и median = 1.0. Когда максимальный возрат 9.0, а пульс 184.0. Очень сильное отклонение и нужно делить лошадей по возрасту и проводить оценку внутри возрастной группы.

In [14]:
for col in df.columns:
    pct_missing = df[col].isnull().mean()
    print(f'{col} - {pct_missing :.1%}')

Age - 0.0%
rectal temperature °C - 20.0%
mucous membranes - 15.7%
abdominal distension - 18.7%
abdomen - 39.3%
total protein - 11.0%
abdominocentesis appearance - 55.0%
outcome - 0.3%

In [16]:
fill_df=df
fill_df['rectal temperature °C'].fillna(df['rectal temperature °C'].median(), inplace=True)
fill_df['mucous membranes'].fillna(1, inplace=True)
fill_df['abdominal distension'].fillna(3, inplace=True)
fill_df['total protein'].fillna(df['total protein'].median(), inplace=True)
fill_df['abdomen'].fillna(df['abdomen'].mode()[0], inplace=True)
fill_df['abdominocentesis appearance'].fillna(df['abdominocentesis appearance'].mode()[0], inplace=True)
fill_df['outcome'].fillna(1, inplace=True)

In [17]:
for col in fill_df.columns:
    pct_missing = fill_df[col].isnull().mean()
    print(f'{col} - {pct_missing :.1%}')

Age - 0.0%
rectal temperature °C - 0.0%
mucous membranes - 0.0%
abdominal distension - 0.0%
abdomen - 0.0%
total protein - 0.0%
abdominocentesis appearance - 0.0%
outcome - 0.0%

Температура: взял самое типичное значение

Слизистые оболочки: В большинстве случае слизистая была нормальной, заменил на значение 1

Вздутие живота: чаще всего было вздутие живота, проявлялось в разной стапени, чаще описывалось, как умеренное.

Общий белок: взял самое типичное значение

Живот: взял самое распрастроненное значение

Внешний вид брюшной полости: взял самое распрастроненное значение

Что в итоге случилось с лошадью: чаще лошадь выживала, т.к. мало пропусков взял этот параметр

Для более клубокого анализа надо сравнивать показатели друг с другом и смотреть зависимости, и на этих зависимостях заполнять пропуски или пойти другим путем. Сравнивать показатели одной лошади с дриги и искать на какую лошадь она больше похожа и заполнять недостающие значения показателями, которые были у этой лошади и т.д. с другими лошадьми.